* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: red;
}

.background {
    display: flex;
    background-image: linear-gradient(to right, navy, purple);
    height: 50vh;
    flex-direction: column;
}

.city {
    display: flex;
    justify-content: center;
}

.days-of-the-week {
    display: flex;
    height: 40vh;
    justify-content: space-between;
    padding: 0 20%;
    justify-items: center;
}

.days-of-the-week div {
    justify-items: center;
}

.lon
